body{
  background-color: navy;
  text-align: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto;
  background-color: navy;
  
  justify-content: space-around;
  
  
  
}
.grid-container-img {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: navy;
  padding: 10px;
  
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}
button {
  background-color: blue;
  size: inherit;
  font-size: xx-large;
  color: white;
  padding: 16px;
  border-color:midnightblue;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.imgSize{

  object-fit: contain;
  
}

.grid-item-images{
  height: 800px;
  width: 800px;
  padding: 10px;
}
.custom-file-input {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid navy;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 20pt;
  
}
.custom-range{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 0.7;
  
}
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 50%; 
  background: black; 
  cursor: pointer; 
}

.custom-range::-moz-range-thumb {
  width: 25px; 
  height: 50%; 
  background: black;
  cursor: pointer; 
}
.custom-rangeR{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 0.7;
  
}
.custom-rangeR::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 50%; 
  background: red; 
  cursor: pointer; 
}

.custom-rangeR::-moz-range-thumb {
  width: 25px; 
  height: 50%; 
  background: red;
  cursor: pointer; 
}
.custom-rangeG{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 0.7;
  
}
.custom-rangeG::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 50%; 
  background: #04AA6D; 
  cursor: pointer; 
}

.custom-rangeG::-moz-range-thumb {
  width: 25px; 
  height: 50%; 
  background: #04AA6D;
  cursor: pointer; 
}
.custom-rangeB{
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 100%;
  background: pink;
  opacity: 0.7;
  
}
.custom-rangeB::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 50%; 
  background: blue; 
  cursor: pointer; 
}

.custom-rangeB::-moz-range-thumb {
  width: 25px; 
  height: 50%; 
  background: blue;
  cursor: pointer; 
}

